:root {
    --darkColor: rgb(30, 35, 39);
    --lightColor: rgb(235, 217, 183);
    --primeColor: rgb(31, 110, 110);
    --secondColor:rgba(175, 59, 59, 0.945);
    --thirdColor: rgba(78, 78, 73, 0.87);
    --fourthColor: rgba(59, 76, 175, 0.945);
    --dashedBorder: dashed 2px var(--lightColor);
    --solidBorder: solid 1px var(--lightColor);
    --borderRadius: 1rem;
   }

   ::selection {
    background-color: var(--primeColor);
    color: var(--darkColor);
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito','Outfit', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--darkColor);
    color: var(--lightColor);
    text-align: center;
    margin: 0;
  }

  main {
      display: flex;
      flex-direction: row;
  }

  h1 {
      margin: 0;
      font-size: 4rem;
      padding: 5rem 3rem 2rem 3rem;
  }

  .left {
   
    display: flex;
    width:30%;
    flex-direction: column;
     margin: 0;
     padding: 1em;
     
  }

   #searchedCities {
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
   }

  .textInput {
    margin-top: 1rem;
    background-color: var(--darkColor);
    color:var(--lightColor);
    font-family: inherit;
  
    border: var(--solidBorder);
    border-radius: var(--borderRadius);
    width: 20rem;
    padding: 1.5rem;
    text-align: center;

  }
  .btn {
        margin: 1rem auto;
        background-color: var(--darkColor);
        color:var(--lightColor);
        font-family: inherit;
  
        border: var(--solidBorder);
        border-radius: var(--borderRadius);
        width: 20rem;
        padding: 1rem;
        text-align: center;
  }
.btn:hover {
    background-color: var(--primeColor);
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
    transition: all 0.5s ease-in-out;
}

  hr {
      width: 100%;
  }

  .right {
      display: flex;
      width:70%;
      flex-direction: column;
      margin: 0;
      padding: 3em;
  }
  
#cityInfo {
    margin:0;
    display: flex;
    flex-direction: column;
    border: var(--dashedBorder);
    border-radius: var(--borderRadius);
}
#fiveDayForecast {
    margin: 0;
    display: flex;
    flex-direction: row;
    border-radius: var(--borderRadius);
  }




  #contact, #mycontact {
    font-size:0.8rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
   text-decoration: none;
    color: var(--lightColor);
  }